body {
  direction: rtl;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.questions {
  background-color: #E9F5F9;
}

.warnings {
  background-color: #F9E5E5;
}