.warning, .information, .question, .note {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #feeded 5px center/3em no-repeat;
}
.warning {
  background-image: url("images/exclamation_mark.png");
  background-color: #feeded;
}
.information {
  background-image: url("images/information_mark.png");
  background-color: #edfeee;
}
.question {
  background-image: url("images/question_mark.png");
  background-color: #f5edfe;
}
.note {
  background-image: url("images/note.png");
  background-color: #edf9fe;
}

body {
  direction: rtl;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

ul {
  text-indent: 20px;
}

.anchorjs-link {
  float: left;
}

/*Replace chapter back and fwd icons*/
.bi-arrow-left-short {
  transform: rotate(180deg);
}

.bi-arrow-right-short {
  transform: rotate(180deg);
}