.warning, .information, .question, .note {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #edf9fe 5px center/3em no-repeat;
  background-color: #edf9fe;
  border-radius: 10px;
}
.warning {
  background-image: url("images/exclamation_mark.png");
}
.information {
  background-image: url("images/information_mark.png");
}
.question {
  background-image: url("images/question_mark.png");
}
.note {
  background-image: url("images/note.png");
}

body {
  direction: rtl;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

ul {
  text-indent: 20px;
}

.anchorjs-link {
  float: left;
}
